<div class="datepicker-container">
  <div class="datepicker-input" (click)="toggleCalendar()">
    <span>{{
      selectedDate ? selectedDate.toLocaleDateString() : "Choisir la date"
    }}</span>
    <svg
      class="calendar-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        fill="currentColor"
        d="M19 4h-1V3a1 1 0 0 0-2 0v1H8V3a1 1 0 0 0-2 0v1H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"
      />
    </svg>
  </div>

  @if (isOpen) {
  <div class="calendar">
    <div class="calendar-header">
      <button (click)="previousYear()">&lt;</button>
      <div class="current-year">{{ currentYear }}</div>
      <button (click)="nextYear()">&gt;</button>
    </div>

    <div class="months-grid">
      @for (month of months; track month; let i = $index) {
      <div class="month-container">
        <div class="month-header">{{ month }}</div>
        <div class="weekdays">
          @for (day of weekDays; track day) {
          <div class="weekday">{{ day }}</div>
          }
        </div>
        <div class="days-grid">
          @for (day of getDaysInMonth(i); track day) {
          <div
            class="day"
            [class.empty]="day === 0"
            [class.selected]="isSelectedDay(day, i)"
            [class.today]="isToday(day, i)"
            (click)="selectDay(day, i)"
          >
            {{ day !== 0 ? day : "" }}
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
