<div class="container">
  <h1>Custom Datepicker</h1>
  <app-datepicker (dateChange)="onDateChange($event)"></app-datepicker>
  @if (selectedDate) {
  <p>Date selectionnée: {{ selectedDate | date : "fullDate" }}</p>
  }
</div>
<hr />
<br />
<div style="padding: 20px">
  <h1>Custom Datepicker option</h1>
  <app-date-picker-option></app-date-picker-option>
</div>
<hr />
<br />
<div style="padding: 20px">
  <h1>Custom Datepicker final version</h1>
  <div style="margin-bottom: 20px">
    <button (click)="setDarkTheme()">Dark Theme</button>
    <button (click)="setLightTheme()">Light Theme</button>
    <button (click)="setCustomTheme()">Custom Theme</button>
  </div>
  <app-date-picker-final-version></app-date-picker-final-version>
</div>

<hr />
<br />
<app-date-picker-figma></app-date-picker-figma>