<div class="datepicker-container">
  <button class="datepicker-button" (click)="toggleCalendar()">
    <svg
      class="calendar-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        fill="currentColor"
        d="M19 4h-1V3a1 1 0 0 0-2 0v1H8V3a1 1 0 0 0-2 0v1H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"
      />
    </svg>
  </button>

  <div class="calendar-popup" *ngIf="isOpen">
    <div class="weekday-checkboxes">
      <label
        class="weekday-checkbox"
        *ngFor="let day of weekdays; let i = index"
      >
        <input
          type="checkbox"
          [checked]="enabledWeekdays[i]"
          (change)="toggleWeekday(i)"
        />
        {{ day }}
      </label>
    </div>

    <div class="year-navigation">
      <button class="nav-button" (click)="previousYear()">
        <i class="fas fa-chevron-left"></i>
      </button>
      <span class="year-title">{{ currentDate.getFullYear() }}</span>
      <button class="nav-button" (click)="nextYear()">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div class="months-grid">
      <div *ngFor="let month of months; let i = index" class="month-container">
        <div class="month-header">{{ month }}</div>
        <div class="month-grid">
          <div class="week-number-header">W</div>
          <div class="day-header" *ngFor="let day of weekdays">
            {{ day.slice(0, 3) }}
          </div>

          <ng-container *ngFor="let week of getWeeksInMonth(i)">
            <div
              class="week-number"
              [class.selected]="isWeekSelected(week)"
              (mousedown)="startWeekSelection($event, week)"
              (mousemove)="dragSelectWeek($event, week)"
            >
              {{ getWeekNumber(week[0]) }}
            </div>
            <div
              *ngFor="let day of week"
              class="day"
              [class.selected]="isSelected(day)"
              [class.disabled]="!isEnabled(day)"
              (mousedown)="startDaySelection($event, day)"
              (mousemove)="dragSelectDay($event, day)"
            >
              {{ day.getDate() }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="calendar-actions">
      <button class="action-button cancel" (click)="cancel()">Annuler</button>
      <button class="action-button validate" (click)="validate()">
        Validate
      </button>
      <button class="action-button imprimer">Imprimer</button>
    </div>
  </div>
</div>
